@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

.primary-color {
  color: white;
}

.secondary-color {
  color: #ff0000;
}

/* Banner 1 style */
.banner1 {
  height: 600px;
  width: auto;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../images/BI.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.banner1-details {
  height: 240;
  width: 630;
  text-align: center;
}

.banner1-details h1 {
  font-size: 65px;
}
.banner1-details h3 {
  font-size: 30px;
}

/* Banner 2 details */

.banner2 {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner2-details {
  text-align: center;
}

.banner2-details .offer {
  padding: 20px;
  color: #ff0000;
  font-size: 60px;
}
.banner2-details .description {
  font-size: 20px;
  color: #ff0000;
  padding: 7px;
}

.banner2-details h1 {
  font-size: 50px;
  padding: 10px;
}

/* Banner 3 */

.banner3 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../images/Vectorrr.png");
  height: 600px;
  width: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  gap: 180px;
}
.banner3-description {
  margin-left: 150px;
}

.banner3-description .title h1 {
  font-size: 65px;
}
.banner3-description .details p {
  text-align: justify;
  width: 700px;
}

.banner3-description .btn {
  padding: 10px 0;
  font-weight: 600;
  font-size: 20px;
  background-color: transparent;
  border-color: transparent;
}

/* Banner 4 */

.banner4 {
  margin: 120px 0;
  height: 400px;
  background: linear-gradient(to bottom, #ff6666, #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner4 .description p {
  font-size: 30px;
  text-align: center;
}
.banner4 .description p span {
  color: #ff0000;
}

.banner4 .btn {
  margin-top: 10px;
  padding: 8px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color: #ff0000;
  border-radius: 10px;
  border-color: transparent;
}

/* Banner 5 */

.banner5 {
  display: flex;
}

.banner5 .left,
.circle,
.right {
  flex: 1;
}

.banner5 .left,
.right {
  margin-top: 50px;
}

.banner5 .left {
  margin-right: 70px;
  margin-left: 100px;
}
.banner5 .right {
  margin-left: 70px;
  margin-right: 100px;
}

.banner5 .left,
.right p {
  font-size: 18px;
  text-align: justify;
  width: 320px;
}

.banner5 .circle {
  height: 400px;
  width: 400px;
  background-color: #ff0000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner5 .circle .circle2 {
  height: 360px;
  width: 360px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle2 img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.banner5 .right img {
  margin-top: 30px;
}

/* Banner 6 */

.banner6 {
  margin: 120px 0;
  background-image: url("../images/Rectangle\ 2.png");
  background-position: bottom;
  width: 100%;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner6 .description {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.banner6 .description p {
  width: 500px;
}

.banner6 .images .im1 {
  border-radius: 20px;
  height: 50%;
}
.banner6 .images .im1 {
  margin-bottom: 400px;
}

/* Banner 7 */
.banner7 {
  margin: 0 100px;
}

.banner7 .description h1 {
  font-size: 50px;
}

.banner7 .description p {
  width: 700px;
  text-align: justify;
  color: #070211;
}

.banner7 .card-container {
  margin: 30px 5px;

  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card-container .card {
  align-items: center;
}

.banner8 {
  margin: 120px 0;
  background: linear-gradient(to bottom, #ff6666, #ffffff);
}

.banner8 .description {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.banner8 .description p {
  margin: 10px 0;
  width: 700px;
  text-align: center;
}

.banner8 .description .input-box {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 500px;
 
}
.banner8 .description .input-box input {
  border-radius: 30px 0 0 30px;
  width: 400px;
  height: 40px;
  border: none;
  padding: 10px;
  flex: 1;
  outline: none;
  text-align: left;
}

.banner8 .description .input-box button {
  border-radius: 0 30px 30px 0;
  border-color: transparent;
  width: 120px;
  height: 60px;
  color: white;
  font-weight: bold;
  background-color: #ff0000;
}



.banner9{
  
 
  color: white;
  background-color: #070211;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.banner9 .d1{

  display: flex;
  align-items: center;
  align-content: space-evenly;
}
.banner9 .d1 ,.d2{
  display: flex;
  justify-content: center;
  align-content: space-between;
  padding: 60px 0;
  gap:400px;
}


.banner9 .icons{

  display: flex;
  gap:20px;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}
hr{
  color:white;
  width: 1000px;
}